#account-panel{
  background-color: #fafafa;
  border-bottom: 1px solid #ddd;
  height: 50px;
  position: relative;
}
#account-panel .brand img{
  max-width: 100px;
  margin: 2px 0 0 10px;
}
#account-panel .toggle-side-panel{
  color: #999;
}
#account-panel .brand{
  margin: 15px;
}
#account-panel ul.ctrl{
  list-style: none;
}
#account-panel .ctrl-btn{
  padding: 15px 17px;
  color: #ccc;
  font-size: 20px;
  border-left: 1px solid #ddd;
  transition: all 0.8s;
}
#account-panel .ctrl-btn:hover,
#account-panel .ctrl-btn:focus{
  background-color: #ddd;
  color: #fff;
  transition: all 0.5s;
}
#account-panel .account-info{
  padding: 12px 14px;
  color: #555;
}
#account-panel .account-info .username{
  font-size: 12px;
  margin-top: 7px;
  font-weight: 600;
}
#account-panel .avatar{
  width: 20px;
  height: 20px;
  border-radius: 20px;
  border: 1px solid #ddd;
  background-color: #fff;
  padding: 3px;
  margin: -1px 7px 0 0;
}
#account-panel .account-info:hover,
#account-panel .account-info:focus{
  color: #333;
}
