<section>

  <form class="form form-horizontal" {{action 'create' on='submit'}}>
    
    <div class="view-actions align-right">
      <button class="btn btn-primary icon-text" {{action 'create'}}>
        <i class="fa fa-envelope"></i> {{t 'invite'}}
      </button>
    </div>

    {{partial 'accounts/users/form'}}

  </form>

</section>
