<div class="dropdown">
  <div class="dropdown-toggle-wrap">
    <span class="fa fa-angle-down dropdown-toggle" data-toggle="dropdown"></span>
    <ul class="dropdown-menu">
      {{yield}}
    </ul>
    <div class="row-checkbox">
      {{view 'ember_table_checkbox_check'}}
    </div>
  </div>
</div>
