@import '_colors';

.account-admin.users{
  margin: 20px 0;
}

.account-admin .heading{
  margin: 40px 0 20px;
  height: 30px;
}

.account-admin .heading .dropdown{
  margin: -6px 0 0;
  width: 40%;
  display: inline-block;
}

.account-admin .dropdown .btn{
  background: none;
}

.account-admin .heading label{
  color: #999;
  font-size: 16px;
}

.account-admin .dropdown-menu.dropdown-menu-grey li{
  min-width: 230px;
}

.account-admin .col-cards-row{
  margin-top: 20px;
}

.account-admin .col-cards-row .col-md-6:first-child{
  padding-left: 0;
}

.account-admin .col-cards-row .col-md-6:last-child{
  padding-right: 0;
}

.account-admin .col-card{
  position: relative;
  height: 100px;
}

.big-num-wrap{
  float: left;
  text-align: center;
  padding: 14px 23px;
  position: relative;
  width: 280px;
  height: 100px;
}

.big-num{
  float: left;
  font-size: 50px;
  font-weight: 700;
  width: 100%;
  line-height: 0.8em;
  cursor: pointer;
}

.purple-col .big-num,
.purple-col .big-num-subtext{
  color: @deep-purple;
}

.blue-col .big-num,
.blue-col .big-num-subtext{
  color: @blue-grey;
}

.big-num-subtext{
  font-size: 11px;
}

.big-action,
.med-action{
  background: none repeat scroll 0 0 #eee;
  color: #999;
  display: inline-block;
  float: right;
  font-size: 18px;
  font-weight: 700;
  padding: 34px 10px;
  text-align: center;
  text-transform: uppercase;
  width: 100px;
  line-height: 0.8em;
  border-left: 1px solid #ddd;
  transition: background-color 0.3s;
}

.purple-col .big-action:hover{
  background-color: @deep-purple;
}

.blue-col .big-action:hover{
  background-color: @blue-grey;
}

.big-action:hover{
  color: #fff;
  text-decoration: none;
  border-color: transparent;
  transition: all 0.3s;
}

.big-action .small-text{
  font-size: 12px;
}

.med-text-wrap{
  padding: 10px 40px;
  float: left;
}

.med-text{
  font-size: 18px;
  font-weight: 700;
  line-height: 1em;
  margin-top: 5px;
}

.med-action{
  height: 60px;
  width: 60px;
  padding: 20px;
  margin-right: -15px;
}

.med-text-subtext{
  font-size: 12px;
  color: #999;
}

.big-num-wrap .bottom-bar{
  bottom: 5px;
  color: #fff;
  font-size: 12px;
  height: 22px;
  left: 3px;
  margin: 0;
  position: absolute;
  right: 0;
  padding: 2px;
}



.blue-col .big-num-wrap .bottom-bar{
  background-color: @blue-grey;
}

.purple-col .big-num-wrap .bottom-bar{
  background-color: @deep-purple;
}

.org-card .med-text,
.org-card .med-text-subtext{
  color: @indigo;
}

.org-card .med-action:hover{
  background-color: @indigo;
  color: #fff;
  cursor: pointer;
}

.org-item .org-action{
  color: #777;
  float: right;
  padding: 15px 39px 15px 23px;
  margin-right: -15px;
  border-left: 1px solid transparent;
  transition: all 0.3s;
}

.org-item{
  border-bottom: 1px solid #ddd;
  position: relative;
  display: block;
  float: left;
  width: 100%;
  background: #fff;
}

.org-item:last-child{
  border: none;
}

.org-item .org-check{
  position: absolute;
  top: 15px;
  left: 25px;
  font-size: 18px;
  color: #666;
  display: none;
}

.org-item .org-action:hover{
  background: #eee;
  cursor: pointer;
  border-color: #ddd;
  transition: all 0.3s;
}

.org-item:not(.current):hover .org-action:hover .fa{
  color: #333;
}

.org-item:not(.current):hover{
  background: @indigo;
  color: #fff;
  cursor: pointer;
}

.org-item:not(.current):hover .fa{
  color: #fff;
}

.org-item .org-title{
  padding: 15px 55px;
}

.org-item.current .org-title{
  font-weight: 600;
}

.org-item.current .org-check{
  display: block;
}

.org-card-wrap{
  margin-top: 20px;
}

.org-card-wrap .org-items{
  height: 0;
  overflow: hidden;
  box-shadow: none;
}

.org-card-wrap.open .org-items{
  height: auto;
  overflow: visible;
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.15);
}

.org-card-wrap .org-items-toggle .fa{
  transition: transform 0.5s;
}

.org-card-wrap.open .org-items-toggle .fa{
  transform: rotate(180deg);
  transition: transform 0.5s;
}

.org-card-wrap .new-org{
  max-width: 0;
  transition: max-width,padding 0.4s;
  overflow: hidden;
  border-left: 1px solid #ddd;
  background: #eee;
  color: #777;
  display: inline-block;
  float: right;
  font-weight: 600;
  padding: 16px 0px;
  line-height: 1em;
  text-transform: uppercase;
  text-decoration: none;
}

.org-card-wrap .new-org:hover{
  background: @indigo;
  color: #fff;
  border-color: transparent;
}

.org-card-wrap.open .new-org{
  max-width: 300px;
  padding: 16px 30px;
  cursor: pointer;
  transition: padding,max-width 0.5s;
}

.org-card-wrap .new-org .new-org-large{
  font-size: 18px;
}

.org-card-wrap .new-org .new-org-small{
  font-size: 12px;
  opacity: 0.8;
}

ul.list li.suspended{
  text-decoration: line-through;
  background: #e5e5e5;
}

textarea.settings-area{
  height: 20em;
}

.app-plans{
  display: flex;
  flex-wrap: nowrap;
  flex-flow: row;
  justify-content: flex-start;
}

.app-plan{
  opacity: 0.6;
  cursor: pointer;
  flex: 1 1 200px;
  margin: 10px;
  background: @grey-50;
}

.app-plan-title{
  margin-top: 40px;
  margin-bottom: 10px;
  background: @grey-50;
  border: 1px solid @grey-200;
}

.app-plan-title h2{
  padding: 5px 40px;
  line-height: 1em;
  text-align: center;
  font-size: 16px;
  font-weight: 400;
  color: @caminio-dark-blue;
}

.app-plan.w-border{
  border: 1px solid @grey-300;
}

.app-plan h1,
.app-plan h2{
  text-align: center;
}

.app-plan .price{
  text-align: center;
  margin: 0 40px;
  background: @lime-500;
  border: 1px solid #ddd;
  padding: 5px;
  border-radius: 40px;
  font-size: 14px;
}

.app-plan .price small{
  font-size: 10px;
}

.app-plan ul{
  list-style: none;
  margin: 20px 0;
  padding: 0;
  font-size: 10px;
}

.app-plan li{
  padding: 5px 40px;
}

.app-plan li .fa{
  color: @green-500;
  float: left;
  font-size: 12px;
  margin: 1px 7px 0 0;
}

.app-plan li .fa-placeholder{
  content: ' ';
  width: 12px;
}

.app-plan:hover:not(.active):not(.title){
  opacity: 1;
  transform: scale(1.05,1.05);
}

.app-plan.active{
  opacity: 1;
  transform: scale(1.05,1.05);
  background: @light-blue-100;
}

.app-plan.active h3{
  color: #fff;
  font-weight: 600;
}

.app-plan.active .fa-check{
  color: #fff;
}

.app-plan.active{
  transform: scale(1.05,1.05);
  opacity: 1;
  background: @lime-500;
  border-color: @grey-500;
  box-shadow: 0 0 10px rgba(0,0,0,0.5);
}

.app-plan.active:before{
  border-left: 50px solid transparent;
  border-top: 50px solid @grey-500;
  content: "";
  display: block;
  position: absolute;
  right: 0;
  top: 0;
  z-index: 101;
}

.app-plan.active:after{
  display: block;
  font: normal normal normal 16px/1 FontAwesome;
  font-size: inherit;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  content: "\f00c";
  position: absolute;
  color: #fff;
  top: 8px;
  right: 8px;
  z-index: 110;
}

.app-plan.active ul{
  color: #fff;
}

.app-plan.active .price{
  background: #fff;
}

.users-slider{
  width: 80%;
  margin: 20px auto;
}

.num-users-sub{
  font-size: 12px;
  color: @grey-500;
  text-align: center;
  margin-bottom: 15px;
}

.selected-users-num{
  text-align: center;
  padding: 0 20px 20px;
  color: @grey-500;
}

.selected-users-num .num{
  color: @caminio-blue;
  font-size: 24px;
  font-weight: 600;
}

table.price-sum{
  border-spacing: 0;
  width: 100%;
  font-size: 12px;
}

table.price-sum td{
  border-bottom: 1px solid @grey-300;
  padding: 8px 5px;
}

table.price-sum tfoot td{
  border: none;
  padding: 5px;
}

table.price-sum tfoot tr:first-child td{
  border-top: 2px solid @grey-500;
}

table.price-sum tfoot tr:last-child td{
  font-weight: 600;
  background-color: #fff;
  border-bottom-color: transparent;
}

.save-plan{
  margin-top: 20px;
  text-align: right;
}