.nav-content{
  border-left: 1px solid #ddd;
  min-height: 300px;
}
.md-4-nav a{
  color: #888;
}

.md-4-nav a .fa{
  color: #aaa;
  float: left;
  margin: 2px 12px 0 0;
  width: 20px;
  font-size: 1.2em;
  text-align: center;
}

.md-4-nav a.active .fa,
.md-4-nav a:hover .fa{
  color: #e60;
}
.md-4-nav a:hover,
.md-4-nav a.active{
  color: #555;
}

.md-4-nav a.active,
.md-4-nav a:hover{
  background: #e5e5e5;
}

.nav-content .mini-header{
  font-size: 0.9em;
  color: #555;
  text-transform: uppercase;
  padding-top: 8px;
}

.avatar-upload{
  position: relative;
}

.avatar-upload input[type=file]{
  height: 134px;
  left: 0;
  opacity: 0;
  position: absolute;
  top: 0;
  width: 134px;
  cursor: pointer;
}
