.cards-list{
  margin: 20px 0;
  list-style: none;
  padding: 0;
}

.cards-list > .card{
  width: 300px;
  height: 200px;
  background: #fff;
  padding: 20px;
  margin-right: 20px;
  margin-bottom: 20px;
  float: left;
  position: relative;
  border: 3px solid transparent;
}

.cards-list > .card > .title{
  font-size: 16px;
  color: #666;
}

.cards-list > .card > .card-ctrl{
  position: absolute;
  top: 20px;
  right: 20px;
  display: none;
}

.cards-list > .card:hover > .card-ctrl{
  display: block;
}

.cards-list > .card.selected{
  background: #ffc;
  border-color: #58d;
}
