.click-form > .ember-view{
  border-top: 1px solid #ddd;
  margin: 0 40px;
  padding: 10px 0;
  transition: all 0.3s;
  overflow: hidden;
}

.click-form .form-horizontal .control-label{
  text-align: left;
}

.click-form > .ember-view:first-child{
  border-top: none;
}

.click-form > .ember-view:hover{
  background: #f0f0f0;
  margin: 0;
  padding: 10px 40px;
  transition: all 0.3s;
  border-top-color: #fff;
}

.click-form > .ember-view:hover+.ember-view{
  border-top-color: #fff;
}

.click-form .form-group{
  margin: 0;
}

.click-form .value-saved{
  position: absolute;
  top: 10px;
  right: -200px;
  transition: right 0.5s cubic-bezier(0.680, -0.550, 0.265, 1.550);
}

.click-form .value-saved.active{
  right: 10px;
  transition: right 0.5s cubic-bezier(0.680, -0.550, 0.265, 1.550);
}

.click-form .cancel-edit{
  font-size: 18px;
  padding-left: 10px;
  padding-right: 10px;
}
