@font-face {
/*   font-style: italic; */
/*   font-weight: 400; */
/*   src: local('Open Sans Italic'), local('Open-Sans-Italic'), */
/*   url('OpenSans-Italic.woff') format('woff'), */
/*   url('OpenSans-Italic.ttf') format('truetype'); */
/* } */
/*  */
/* @font-face { */
/*   font-family: 'Open Sans'; */
/*   font-style: normal; */
/*   font-weight: 700; */
/*   src: local('Open Sans Bold'), local('Open-Sans-Bold'), */
/*   url('OpenSans-Bold.woff') format('woff'), */
/*   url('OpenSans-Bold.ttf') format('truetype'); */
/* } */
/*  */
/* @font-face { */
/*   font-family: 'Open Sans'; */
/*   font-style: normal; */
/*   font-weight: 400; */
/*   src: local('Open Sans Regular'), local('Open-Sans-Regular'), */
/*   url('OpenSans-Regular.woff') format('woff'), */
/*   url('OpenSans-Regular.ttf') format('truetype'); */
/* }  */
@font-face {
  font-family: 'PT Sans';
  font-style: normal;
  font-weight: 700;
  src: local('PT Sans Bold'), local('PT_Sans-Bold'),
  url('/assets/PT_Sans-Web-Bold.woff') format('woff'),
  url('/assets/PT_Sans-Web-Bold.ttf') format('truetype');
}

@font-face {
  font-family: 'PT Sans';
  font-style: normal;
  font-weight: 400;
  src: local('PT Sans Regular'), local('PT-Sans-Regular'),
  url('/assets/PT_Sans-Web-Regular.woff') format('woff'),
  url('/assets/PT_Sans-Web-Regular.ttf') format('truetype');
} 
