.footer-wrap{
  background: none repeat scroll 0 0 #f0f0f0;
  border-top: 1px solid #ddd;
  bottom: 0;
  color: #999;
  font-size: 12px;
  height: 32px;
  left: 0;
  position: fixed;
  right: 0;
}

.unauthenticated .footer-wrap{
  color: rgba(255,255,255,0.7);
}

.footer-wrap .right{
  float: right;
  margin: 7px 10px 0;
}

.footer-wrap .left{
  float: left;
  margin: 7px 0 0 10px;
}

