.form .checkbox,
.form .table-checkbox{
  background: none repeat scroll 0 0 #f9f9f9;
  border: 1px solid #ddd;
  cursor: pointer;
  float: left;
  height: 27px;
  margin-right: 10px;
  position: relative;
  width: 28px;
  margin-top: 1px;
  margin-bottom: 0;
}

.form .checkbox .fa,
.table-checkbox .fa{
  position: absolute;
  top: 5px;
  left: 5px;
  font-size: 16px;
  color: #666;
}

.form .checkbox-label{
  padding-top: 4px;
}

.form-group-row{
  display: flex;
}

.form-group-row .label-col{
  background: #fafafa;
  border-right: 1px solid #ddd;
  padding: 15px 30px 20px 0;
  text-align: right;
  font-weight: 600;
  color: #444;
  position: relative;
}

.form-group-row .label-col.label-col-with-text-field{
  padding-top: 27px;
}

.form-group-row .label-col .fa{
  margin-right: 5px;
}

.form-group-row .content-col{
  background: #fff;
  padding: 20px;
  position: relative;
}

.form-group .content-col.highlight-hover:hover{
  background: #ffe;
}

.form-group-row input:not(:hover){
  border: none;
  box-shadow: none;
  background: none;
}
