ul.list{
  margin: 0 20px;
  padding: 0;
  list-style: none;
  font-size: 12px;
}

ul.list li{
  display: table;
  table-layout: fixed;
  width: 100%;
  border-bottom: 1px solid #e5e5e5;
  cursor: pointer;
}

ul.list li:hover{
  background: #eee;
}

ul.list li:last-child{
  border:none;
}

ul.list li > div{
  margin: auto;
  display: table-cell;
}

ul.list.list-header{
  border: none;
  margin-top: 20px;
}

ul.list.list-header li{
  background: none;
  color: #999;
  font-size: 0.9em;
}

ul.list li > .list-icon .label{
  border-radius: 0;
  display: block;
  font-size: 1em;
  margin: 3px 5px 3px 0;
  padding: 3px;
}

ul.list li > .list-icon{
  padding: 0 5px;
  width: 34px;
}

ul.list li > .list-icon i{
  color: #fff;
}

ul.list li > .list-icon .label-default{
  background: #eee;
}

ul.list li > .list-icon .label-default i{
  color: #aaa;
}

ul.list li > .list-title{
  width: 50%;
}

ul.list li > .list-label{
}

ul.list li > .list-actions{
  width: 30px;
  margin: 0;
}
