@import '_colors';

.caminio-modal-overlay{
  position: fixed;
  top: 92px;
  left: 0;
  right: 0;
  bottom: 0;
  overflow-y: auto;
  overflow-x: hidden;
  min-height: calc(100% - 50px);
  background: rgba(220,220,220,0.8);
}

.caminio-modal-ctrl{
  background: #fff;
  height: 50px;
  border-bottom: 1px solid @grey-400;
  position: fixed;
  top: 42px;
  left: 0;
  right: 0;
  z-index: 30;
}

.caminio-modal-ctrl .btn-close{
  background-color: @grey-800;
  color: @grey-100;
  font-size: 30px;
  line-height: 1em;
  padding: 8px 15px 10px;
}

.caminio-modal-ctrl .btn-actions button{
  border: none;
  background: none;
  padding: 16px;
  line-height: 1em;
}

.caminio-modal-ctrl .btn-actions .dropdown-menu{
  color: @grey-500;
  margin-top: 1px;
  box-shadow: 0 2px 3px 0 rgba(0, 0, 0, 0.15);
  border-top: none;
}

.caminio-modal-ctrl .btn-actions{
  color: @grey-500;
  box-shadow: none !important;
  padding: 0;
}

.caminio-modal-ctrl .btn-actions .fa{
  margin-left: 5px;
}

.caminio-modal-wrap{
  max-width: 1440px;
  min-width: 940px;
  margin: 20px auto;
  padding: 0 20px;
  display: flex;
  align-items: flex-start;
}

.caminio-modal-wrap section{
  display: flex;
  flex: 1 0 600px;
  flex-direction: column;
  overflow: hidden;
}

.caminio-modal-wrap aside{
  display: flex;
  flex: 0 0 300px;
  margin-left: 40px;
  flex-direction: column;
}

.caminio-modal-overlay .save-ctrl{
  position: fixed;
  bottom: 0;
  left: 20px;
  right: 20px;
  min-width: 940px;
  max-width: 1440px;
  height: 80px;
  margin: 0 auto;
  padding: 20px;
  background: rgba(255,255,255,0.9);
}

.caminio-modal-wrap .field-row{
  display: flex;
}

.caminio-modal-wrap .field-row .field-label{
  padding: 15px;
  vertical-align: top;
  text-align: right;
  background: @grey-100;
  flex: 0 0 250px;
  flex-direction: column;
  color: @grey-700;
  border-right: 1px solid @grey-300;
}

.caminio-modal-wrap .field-row .field-content.w-cursor{
  cursor: pointer;
}

.caminio-modal-wrap .field-row .field-content.w-cursor:hover{
  background: #ffc;
}

.caminio-modal-wrap .field-row .field-content{
  flex: 1 1 0;
  padding: 15px 15px 15px 20px;
  position: relative;
}

.caminio-modal-wrap .field-row .field-content.editing-click-form{
  padding: 8px 20px;
}

.caminio-modal-wrap .field-row .value-saved{
  position: absolute;
  top: 11px;
  right: -200px;
  border-radius: 50%;
  transition: right 0.5s cubic-bezier(0.680, -0.550, 0.265, 1.550);
  padding: 7px 8px;
  font-size: 1em;
}

.caminio-modal-wrap .field-row.click-edit-select .field-content .val{
  cursor: pointer;
}

.caminio-modal-wrap .field-row .value-saved.active{
  right: 20px;
  transition: right 0.5s cubic-bezier(0.680, -0.550, 0.265, 1.550);
}

.caminio-modal-wrap .field-row .input-group,
.caminio-modal-wrap .field-row input[type=text],
.caminio-modal-wrap .field-row input[type=password],
.caminio-modal-wrap .field-row textarea{
  width: 100%;
}

.caminio-modal-wrap .field-row textarea{
  min-height: 15em;
}

.caminio-modal-wrap .daybox{
  float: left;
  border-right: 2px solid #ddd;
  padding-right: 10px;
  margin-right: 10px;
  text-align: center;
  margin-top: -5px;
}

.caminio-modal-wrap .daybox .daynum{
  color: @caminio-blue;
  font-size: 24px;
  font-weight: 600;
  line-height: 1em;
}

.caminio-modal-wrap .daybox .month{
  font-size: 10px;
  line-height: 1em;
}

.caminio-modal-wrap .full-date{
  padding: 5px;
  margin-top: -4px;
  float: left;
}

.caminio-modal-wrap .input-group.date .input-group-addon{
  border: 1px solid #ddd;
}

.caminio-modal-wrap .with-textarea .input-group-addon{
  display: inline-block;
  width: auto;
}

.caminio-modal-wrap .input-group.date input{
  width: 200px;
}

.caminio-modal-wrap .field-row input[type=text],
.caminio-modal-wrap .field-row input[type=password],
.caminio-modal-wrap .field-row .input-group-addon,
.caminio-modal-wrap .field-row textarea{
  box-shadow: none !important;
}

.caminio-modal-wrap .field-row .cancel-edit{
  padding: 6px 12px;
  border-left: 1px solid @grey-300;
}

.caminio-modal-wrap .vspacer{
  background: @grey-100;
  border: none;
  border-right: 1px solid @grey-300;
  margin: 0;
  height: 10px;
  width: 250px;
}

.caminio-modal-wrap .field-row .labels{
  float: left;
  margin-top: -4px;
}

.caminio-modal-wrap .field-content .btn{
  padding: 5px 10px;
  font-size: 12px;
}

.mini-modal .select-options{
  list-style: none;
  padding: 0;
  margin: 0;
}

.mini-modal .select-options li{
  padding: 10px 20px;
  color: @grey-500;
  cursor: pointer;
}

.mini-modal .select-options li.active .fa-check,
.mini-modal .select-options li.active{
  color: @grey-700;
}

.mini-modal .select-options li:hover{
  background-color: @grey-100;
  color: @grey-700;
}

.mini-modal .select-options li .spacer,
.mini-modal .select-options li .fa-check{
  float: left;
  width: 30px;
  font-size: 18px;
  color: @grey-500;
  display: block;
  height: 1em;
}