.top-nav{
  height: 50px;
  left: 0;
  position: fixed;
  right: 0;
  top: 0;
  z-index: 999;
  background: #f2f2f2;
  box-shadow: 0px 5px 4px #ddd;
}

.top-nav-content-wrap{
  margin-top: 5px;
}

.apps-list-trigger{
  color: #aaa;
  cursor: pointer;
  margin: 0;
  overflow: hidden;
  position: relative;
  padding: 7px;
  transition: all 0.5s cubic-bezier(0.165, 0.84, 0.44, 1) 0s;
}

.apps-list-trigger:hover{
  // transition: width 0.5s cubic-bezier(0.165, 0.840, 0.440, 1.000);
  // width: 150px;
  background: #ddd;
}

.apps-list-trigger:hover .caminio-img{
  transform: rotate(50deg);
  transition: transform 0.5s cubic-bezier(0.165, 0.84, 0.44, 1) 0s;
}

.apps-list > .dropdown-menu{
  background: #eee;
  border-radius: 0;
  left: 5px;
  padding: 10px 0;
  min-width: 350px;
}

.apps-list > .dropdown-menu a{
  display: block;
  padding: 5px 20px;
  cursor: pointer;
  text-decoration: none;
  color: #777;
}

.apps-list .dropdown-menu a:hover{
  color: #333;
  font-weight: 600;
  opacity: 1;
}

.apps-list .dropdown-menu a > .fa{
  font-size: 20px;
}

.apps-list a span{
  font-weight: 600;
  text-transform: uppercase;
  font-size: 14px;
  margin-left: 5px;
}

.account-info{
  color: #ddd;
  margin-top: 5px;
}

.account-info .dropdown-menu a.btn{
  color: #fff;
  padding: 3px 5px;
}

.account-image{
  background-color: #fff;
  border-radius: 20px;
  height: 40px;
  margin: 0px 20px 3px 5px;
  width: 40px;
  cursor: pointer;
  border: 1px solid #ddd;
}

.account-image-big{
  width: 96px;
  height: 96px;
  margin: 10px 20px 10px 10px;
}

.account-name-small{
  color: #bbb;
  font-weight: 600;
}

.account-name-big{
  font-size: 14px;
  font-weight: 600;
  color: #333;
}

.account-email{
  font-size: 12px;
  font-weight: 500;
  color: #555;
}

.account-info .dropdown-menu{
  color: #555;
}

.account-info .dropdown-menu a{
  color: #444;
  text-decoration: none;
}

.account-info .dropdown-menu a:hover{
  text-decoration: underline;
}

.account-info .dropdown-menu{
  background: #eee;
  border-radius: 0;
  width: 400px;
  margin: 0 5px 0 0;
}

.account-info-details{
  margin: 20px;
}

.account-name{
  font-size: 12px;
  line-height: 14px;
  float: left;
  padding: 5px 10px;
  text-align: right;
  color: #777;
}

.caminio-img{
  width: 32px;
  height: 32px;
  display: inline-block;
  background: url(asset-path('logo_32x32.png'));
}
