strong{
  font-weight: 600;
}
.hide{
  display: none;
}
.float-right{
  float: right;
}
.float-left{
  float: left;
}
.align-right{
  text-align: right;
}
.align-center{
  text-align: center;
}
.fixed{
  position: fixed;
}
.btn{
  border: 1px solid #ddd;
  padding: 2px;
  border-radius: 2px;
}
.borderless{
  border: none;
}
.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

/* ------------------------------------------------ widgets */

.btn{
  padding: 5px 15px;
  color: #fff;
  border-radius: 2px;
  border: none;
  background-color: #454545;
  transition: all 0.8s;
  opacity: 1;
  font-size: 14px;
}

.btn[disabled]{
  background-color: #ddd !important;
  color: #999;
  cursor: not-allowed !important;
  transition: all 0.8s;
}

.btn:hover{
  opacity: 0.9;
  transition: opacity 0.3s;
}

a.btn,
button.btn,
.btn a{
  cursor: pointer;
  text-decoration: none;
}
button.btn{
  padding: 5px 15px 6px;
}

.btn.small{
  padding: 3px 5px;
}

.btn.tiny{
  padding: 2px 5px;
  font-size: 10px;
}

.btn.pale{
  background: none;
  color: inherit;
  border: 1px solid #ddd;
}

.btn.borderless{
  border-color: transparent;
}

.btn.primary{
  background-color: #5cb85c;
}

.btn.danger{
  background-color: #d55;
}

.btn.light{
  background-color: #ccc;
}
.btn.info{
  background-color: #5BC0DE;
}
.btn.success{
  background-color: #5CB85C;
}

.btn.transparent{
  background: none;
}

.btn.icon-text .fa{
  margin: -1px 5px 0 0;
}

.btn.black{
  background-color: #373737;
}

.btn-group{
  display: inline-block;
  position: relative;
}
.btn-group .btn{
  border-radius: 0;
  margin: 0;
  position: relative;
  float: left;
  width: 24px;
  text-align: center;
}
.btn-group .btn:first-child{
  border-top-left-radius: 2px;
  border-bottom-left-radius: 2px;
}
.btn-group .btn:last-child{
  border-top-right-radius: 2px;
  border-bottom-right-radius: 2px;
}
.desc{
  color: #777;
  font-size: 0.8em;
}

.box{
  border: 1px solid #ddd;
  margin: 20px 0;
  background-color: #fafafa;
}

.box .header{
  background-color: #373737;
  color: #fff;
  padding: 15px 10px 10px;
  text-align: right;
  font-size: 14px;
  font-weight: 600;
}

.box .content{
  padding: 20px;
  
}

.span200px{
  width: 200px;
}
.span250px{
  width: 250px;
}
.span300px{
  width: 300px;
}
.span400px{
  width: 400px;
}
.span100perc{
  width: 100%;
}
.search{
  display: inline-block;
  position: relative;
}
.search input[type=text]{
  padding: 5px 30px 5px 0;
  text-indent: 5px;
  font-size: 14px;
  border-radius: 2px;
  width: 150px;
  transition: all 0.8s;
}
.search button{
  border: none;
  background: none;
  font-size: 14px;
  float: right;
  position: absolute;
  top: 8px;
  right: 4px;
  color: #777;
}
.search input[type=text]:hover,
.search input[type=text]:focus{
  width: 250px;
  transition: all 0.8s;
}