input[type=text],
input[type=password],
textarea{
  padding: 6px;
  border: 1px solid #ddd;
}
form.caminio-form{
  width: 100%;
}

form.caminio-form .field{
  margin: 10px 0;
}
form.caminio-form .field label{
  float: left;
  width: 100px;
  text-align: right;
  margin: 10px 10px 0 0;
  font-size: 14px;
  color: #777;
  font-weight: 600;
}
select{
  font-size: 14px;
  padding: 5px;
}
form.caminio-form input[type=text],
form.caminio-form input[type=password],
form.caminio-form textarea{
  padding: 8px 0;
  text-indent: 5px;
  font-size: 14px;
  border: 1px solid #ddd;
  border-radius: 2px;
}
form.caminio-form textarea{
  padding-bottom: 0;
  min-height: 3em;
}
form.caminio-form button.btn{
  cursor: pointer;
  padding: 4px 15px 5px 15px;
  line-height: 19px;
}
.label-offset{
  margin: 8px 0 0 110px;
}
.label-offset .btn{
  margin-right: 5px;
}
form.caminio-form hr{
  border: none;
  border-top: 1px solid #ddd;
}
form.caminio-form .title{
  font-size: 24px;
  font-weight: 600;
  color: #ccc;
  margin: 40px 0;
}
form.caminio-form .field.multiple input{
  float: left;
}
form.caminio-form input.span2multiples,
form.caminio-form textarea.span2multiples{
  width: 612px;
}
form.caminio-form .field.multiple input.zip{
  width: 100px;
  margin-top: 0px;
  margin-right: 20px;
}
form.caminio-form input.city{
  width: 490px;
}