<link href='http://fonts.googleapis.com/css?family=PTSans' rel='stylesheet' type='text/css' data-roadie-ignore>
<%= stylesheet_link_tag :mailer %>
<div class="main">
  <div class="logo-wrap">
    <a href="<%= @base_url %>"><img src="<%= @base_url %>/favicon_blue.png"></a>
  </div>
  <div class="content">
    <h1>Hello <%= @user.name %>!</h1>
    <p>Your password has recently been changed. If this was not your intention or you want to restore your old password, please contact the technical support</p>

    <p>
    We are glad you have chosen caminio
    &nbsp;&nbsp;the TASTENWERK Support Team
    </p>

  </div>
</div>
