<section class="account-admin">

  <div class="row">

    <div class="col-md-4 card">
      <div class="big-num-wrap">
        <span class="big-num">{{users.length}}</span>
        <span class="big-num-subtext">{{t 'users.title'}}</span>
      </div>
      {{#link-to 'accounts.new' class='big-action'}}{{t 'new'}}{{/link-to}}
    </div>

    <div class="col-md-4">
    </div>

    <div class="col-md-4">
    </div>

  </div>

</section>
