<div class="med-container fill-height accounts-container">

  <div class="row fill-height">

    <div class="col-md-3 md-4-nav fill-height">
      <ul class="nav">
        <li>
        {{#link-to 'accounts.index'}}
          <i class="fa fa-file-text-o"></i>
          {{t 'accounts.overview'}}
        {{/link-to}}
        </li>
        <li>
        {{#link-to 'accounts.plans'}}
          <i class="fa fa-money"></i>
          {{t 'accounts.plans_and_prices'}}
        {{/link-to}}
        </li>
        <li>
        {{#link-to 'accounts.organizations'}}
          <i class="fa fa-building-o"></i>
          {{t 'accounts.organizations'}}
        {{/link-to}}
        </li>
      </ul>
    </div>
    <div class="col-md-9 nav-content fill-height overflow-auto">
      {{yield}}
    </div>

  </div>

</div>
