<div class="overview-wrap">
  <div class="overview-sidepane">
    <section class="account-wrap md-box">
      <header class="account-wrap-header">
        <div class="account-wrap-header-tint"></div>
        <div class="account-wrap-header-content">
          <h1>Thorsten Zerha</h1>
          <h2>TASTENWERK</h2>
        </div>
        <div class="avatar-wrap">
          <img src="/assets/pyglori_cafe_128x128.jpg">
        </div>
      </header>
      <div class="username">
        @quaqua
      </div>
      <span class="location label label-primary label-rounded">
        <i class="fa fa-map-marker"></i> Graz, Austria
      </span>
      <div class="description">
        Managing Director and Software Developer
      </div>
      <a class="url" href="http://tastenwerk.com">http://tastenwerk.com</a>
      <div class="social-icons">
        <span class="btn btn-default"><i class="fa fa-google-plus"></i></span>
        <span class="btn btn-default"><i class="fa fa-facebook"></i></span>
        <span class="btn btn-default"><i class="fa fa-twitter"></i></span>
      </div>
    </section>
  </div>
  <div class="overview-main">
    {{yield}}
  </div>
</div>
