
<div class="col-md-6">
  <div {{bind-attr class=":card loadingUsers:card-refreshing"}}>
    <div class="card-refreshing"><i class="fa fa-circle-o-notch fa-spin"></i></div>
    {{partial 'accounts/users'}}
  </div>
</div>

<div class="col-md-6">
  {{partial 'accounts/groups'}}  
</div>
