{{#view 'ember_table_checkbox'}}
{{view 'ember_table_checkbox_header_info'}}
<li>{{#view 'ember_table_action' actionName='editRecord'}}{{t 'edit'}}{{/view}}</li>
<li>{{#view 'ember_table_action' actionName='uninviteRecord'}}{{t 'accounts.users.uninvite'}}{{/view}}</li>
{{/view}}
