{{#view 'ember_table_checkbox'}}
{{view 'ember_table_checkbox_header_info'}}
<li>{{#view 'ember_table_action' actionName='editRecord'}}{{t 'edit'}}{{/view}}</li>
<li>{{#view 'ember_table_action' actionName='removeRecord'}}{{t 'delete'}}{{/view}}</li>
{{/view}}
