<section>

  <h1>{{t 'accounts.users.title'}}</h1>

  {{table-component
  hasFooter=false
  hasHeader=true
  minHeaderHeight=32
  rowHeight=40
  columnsBinding="columns"
  contentBinding="content"}}

</section>
