<section>

  <div class="view-actions align-right">
    <button class="btn btn-primary" {{action 'addUser'}} {{translateAttr title='accounts.users.add'}}>
      <i class="fa fa-plus"></i>
    </button>
  </div>

  {{table-component
  hasFooter=false
  hasHeader=true
  minHeaderHeight=32
  rowHeight=40
  selectionMode='none'
  parentController=controller
  columnsBinding="columns"
  contentBinding="content"}}

</section>
