<select class="colorselector">
  <option data-color="#A0522D" value="106">sienna</option>
  <option data-color="#CD5C5C" value="47">indianred</option>
  <option data-color="#FF4500" value="87">orangered</option>
  <option data-color="#008B8B" value="17">darkcyan</option>
  <option data-color="#B8860B" value="18">darkgoldenrod</option>
  <option data-color="#32CD32" value="68">limegreen</option>
  <option data-color="#FFD700" value="42">gold</option>
  <option data-color="#48D1CC" value="77">mediumturquoise</option>
  <option data-color="#87CEEB" value="107">skyblue</option>
  <option data-color="#FF69B4" value="46">hotpink</option>
  <option data-color="#CD5C5C" value="47">indianred</option>
  <option data-color="#87CEFA" value="64">lightskyblue</option>
  <option data-color="#6495ED" value="13">cornflowerblue</option>
  <option data-color="#DC143C" value="15">crimson</option>
  <option data-color="#FF8C00" value="24">darkorange</option>
  <option selected="selected" data-color="#C71585" value="78">mediumvioletred</option>
  <option data-color="#000000" value="123">blackoption</option>
  <option data-color="#FFFFFF" value="255">white</option>
</select>
