<section class="card settings">
  <h1>{{t 'group.general'}}</h1>
  <div class="click-form">
    {{click-edit-form value=name label='group.name' parentController=controller}}

    <div class="ember-view visible-overflow">
      <form class="form-horizontal">
        <div class="form-group">
          <label class="control-label col-md-4">{{t 'color'}}</label>
          <div class="col-md-8">
            {{view 'color-picker'
                classes="form-control"
                content=controllers.application.availableColors
                onChangeAction='save'
                value=color}}
          </div>
        </div>
      </form>
    </div>


  </div>
</section>