<div class="image-gallery">

  <div class="image-gallery-item">
    <i class="fa fa-cloud-upload"></i>
    <div class="title">{{t 'image_gallery.upload'}}</div>
    <input type="file" id="image-gallery-upload">
  </div>

  {{#each parent.mediafiles}}

  <div class="image-gallery-item" {{bind-attr data-url='file_original'}}>
      <img {{bind-attr src='file_thumb'}}>
    </div>

  {{/each}}

</div>
