header.top-panel.fixed
  .brand.float-left
    a#toggle-side-panel.btn.transparent.toggle-side-panel.borderless.float-left
      i.fa.fa-bars
    a.float-left(href='/')
      img(src='/images/brand.png')

  ul.ctrl.float-right
    li.float-right
      a.ctrl-btn.icn.float-right(href=resolvePath('v1/auth','logout'))
        i.fa.fa-sign-out
    li.float-right
      a.account-info.ctrl-btn.float-right( href='/v1/users/'+currentUser.id+'/edit' )
        img.avatar.float-left( src='/images/avatar.png' )
        span.float-left.username=currentUser.name.full
    li.float-right.dropdown
      a.dropdown-toggle.dropdown-hover.domain.ctrl-btn.float-right( data-toggle='dropdown' )
        span.float-left.domainname=(currentDomain ? currentDomain.name : 'no domain')
        i.fa.fa-caret-down
      ul.dropdown-menu( role='menu' )
        each domain in currentUser.domains
          li( role='presentation' )
            a(href='/?change_domain_id='+domain.id)=domain.name
