header.top-panel.fixed
  .brand.float-left
    a#toggle-side-panel.btn.transparent.toggle-side-panel.borderless.float-left
      i.fa.fa-bars
    a.float-left(href='/', target='_blank')
      img(src='/images/brand.png')

  ul.ctrl.float-right
    li.float-right
      a.ctrl-btn.float-right(href=resolvePath('v1/auth','logout'))
        i.fa.fa-sign-out
    li.float-right
      a.account-info.ctrl-btn.float-right
        img.avatar.float-left( src='/images/avatar.png' )
        span.float-left.username=currentUser.name.full
    li.float-right
      a.domain.ctrl-btn.float-right
        span.float-left.domainname=currentDomain.name
