<section>

<div class="main-ctrl align-right">
  <a href="#domains/new" class="btn primary" data-i18n="nginios:domains.new"></a>
</div>

<table>
  <thead>
    <tr>
      <th data-i18n='nginios:domains.nr' class="nr"></th>
      <th data-i18n='nginios:domains.name'></th>
      <th data-i18n='nginios:domains.plan'></th>
      <th data-i18n='nginios:action' class="align-right"></th>
    </tr>
  </thead>

  <tbody data-bind="foreach: items">
    <tr>
      <td data-bind="text: $index()+1" class="nr"></td>
      <td data-bind="text: name"></td>
      <td data-bind="text: plan"></td>
      <td class="actions">
        <div class="btn-group">
          <a class="btn small" data-bind="attr: { href: '#domains/'+id, title: $parent.i18n.t('domains.edit') }"><i class="fa fa-pencil"></i></a>
          <a class="btn small" data-bind="click: lockItem; attr: { title: $parent.i18n.t('domains.lock') }"><i class="fa fa-lock"></i></a>
          <a class="btn danger small" data-bind="click: deleteItem; attr: { title: $parent.i18n.t('domains.delete') }"><i class="fa fa-times"></i></a>
        </div>
      </td>
    </tr>
  </tbody>

</table>

</section>
