<script type='text/x-handlebars' data-template-name='_side_panel'>
  <div id="side-panel">
    <div class="account-info">
      <img src="/images/avatar.png" class="avatar float-left">
      
      <div class="float-left username">
        Administrator
      </div>
      <div class="notifications">
        <div class="mailbox-messages notification float-left"><i class="fa fa-envelope"></i><span id="num-mailbox-messages">0</span></div>
        <div class="action-required notification float-left"><i class="fa fa-warning"></i><span id="num-required-actions">0</span></div>
      </div>
    </div>

    <ul class="nav">
      {{#each app in apps}}
      <li class="clearfix">
      <a class="float-left" {{bind-attr href=app.hashed_path}}><i {{bind-attr class=":fa :float-left app.icon"}}></i><span class="title">{{app.name}}</span></a>
      </li>
      {{/each}}
    </ul>

  </div>
</script>
