<script type='text/x-handlebars' data-template-name='_top_panel'>

  <header class="top-panel fixed">

    <div class="brand float-left">
      <a href="#" class="btn toggle-side-panel borderless float-left tooltip tooltipstered">
        <i class="fa fa-bars"></i>
      </a>
      <a href="http://nginios.com" target="_blank" class="tooltip float-left tooltipstered">
        <img src="/images/brand.png">
      </a>
    </div>

    <ul class="ctrl float-right">
      <li class="float-right">
        <a href="/nginios/auth/logout" class="ctrl-btn float-right tooltip tooltipstered"><i class="fa fa-sign-out"></i></a>
      </li>
      <li class="float-right">
        <a href="/nginios/auth/profile" class="account-info ctrl-btn float-right">
          <img src="/images/avatar.png" class="avatar float-left">
          <span class="float-left username">Administrator</span>
        </a>
      </li>
    </ul>

  </header>

</script>
