extends ../layout

block content
  div( data-bind="page: {id: 'users', title: 'users', role: 'start'}" )
    h1 USERS

append footer
  script(type='text/javascript', src='/javascripts/nginios/users.js')
  script(type='text/html')
    include templates/users.html

