<div class="login-box">
  <div class="login-logo-wrap">
    <div class="login-logo"></div>
  </div>

  {{#if errorMessage}}
  <div class="alert alert-danger">{{{errorMessage}}}</div>
  {{/if}}
  {{#if message}}
  <div class="alert alert-info">{{{message}}}</div>
  {{else}}
  <div class="alert"></div>
  {{/if}}
  {{yield}}
</div>
