<form class="login" {{action 'login' on='submit'}}>
  {{input value=email class="form-control" placeholder="email"}}
  {{input value=password class="form-control" placeholder="password" type="password"}}
  <button type="submit" class="btn">Login</button>
</form>
