header.top-panel{
  background-color: #fafafa;
  border-bottom: 1px solid #ddd;
  height: 50px;
  top: 0;
  left: 0;
  right: 0;
  z-index: 2;
}
header.top-panel .brand img{
  max-width: 100px;
  margin: 2px 0 0 10px;
}
header.top-panel .toggle-side-panel{
  color: #999;
  margin: -3px 0 0;
}
header.top-panel .brand{
  margin: 15px;
}
header.top-panel ul.ctrl{
  list-style: none;
}
header.top-panel .ctrl-btn{
  padding: 15px 17px;
  color: #ccc;
  border-left: 1px solid #ddd;
  transition: all 0.8s;
}
header.top-panel .ctrl-btn.icn{
  font-size: 20px;
}
header.top-panel .ctrl-btn:hover,
header.top-panel .ctrl-btn:focus{
  background-color: #ddd;
  color: #fff;
  transition: all 0.5s;
}
header.top-panel .account-info,
header.top-panel .domain{
  padding: 9px 14px;
  color: #555;
  position: relative;
  cursor: pointer;
}
header.top-panel .domain,
header.top-panel .account-info{
  padding: 17px;
}
header.top-panel .account-info{
  padding-left: 50px;
}
header.top-panel .fa-caret-down{
  font-size: 14px;
  margin: 2px 0 0;
  float: right;
}
header.top-panel .domainname,
header.top-panel .account-info .username{
  font-weight: 600;
  font-size: 12px;
}
header.top-panel .domainname{
  padding: 0 15px;
}
header.top-panel .avatar{
  width: 32px;
  height: 32px;
  border-radius: 20px;
  border: 1px solid #ddd;
  background-color: #fff;
  padding: 3px;
  margin: -7px 7px 0 0;
  position: absolute;
  left: 10px;
  top: 15px;
}

/*
 * ---------------------------------------------- side panel
 */

#side-panel{
  background-color: #373737;
  position: fixed;
  left: 0;
  width: 230px;
  top: 50px;
  bottom: 0;
  display: none;
  z-index: 2;
}
body.side-panel-active #side-panel{
  display: block;
}
#side-panel .account-info{
  padding: 10px;
}
#side-panel .avatar{
  width: 40px;
  height: 40px;
  border-radius: 40px;
  background-color: #f5f5f5;
  padding: 3px;
  margin: 5px 15px 5px 5px;
}
#side-panel .username{
  font-size: 14px;
  font-weight: 600;
  margin: 15px 0 0;
  color: #eee;
  width: 140px;
}
#side-panel .notification{
  font-size: 10px;
  color: #999;
  width: 30px;
  margin-top: 6px;
  margin-right: 5px;
}
#side-panel .notification .fa{
  float: left;
  margin: 1px 5px 0 0;
}
#side-panel ul.nav{
  margin-top: 60px;
}
#side-panel ul.nav a{
  width: 227px;
  color: #fff;
  padding: 15px 0;
  border-bottom: 1px solid #2a2a2a;
  border-left: 3px solid transparent;
  text-decoration: none;
  transition: all 0.7s;
}
#side-panel ul.nav li:first-child a{
  border-top: 1px solid #2a2a2a;
}
#side-panel ul.nav a .fa{
  font-size: 18px;
  margin: -3px 10px 0 15px;
  text-align: center;
  width: 25px;
  color: #fff;
}
#side-panel ul.nav a .title{
  font-size: 14px;
  font-weight: 600;
}
#side-panel ul.nav li.active a,
#side-panel ul.nav li:hover a{
  border-left-color: #d55;
  background-color: #2a2a2a;
  transition: all 0.3s;
}
