doctype html
html(lang=i18n.locale())
  head
    title nginio

    link(rel='stylesheet', href='/stylesheets/nginios/reset.css')
    link(rel='stylesheet', href='/stylesheets/nginios/common.css')
    link(rel='stylesheet', href='/fonts/opensans.css')
    link(rel='stylesheet', href='/stylesheets/vendor/font-awesome.min.css')
    link(rel='stylesheet', href='/stylesheets/vendor/tooltipster.css')

    link(rel='stylesheet', href='/stylesheets/nginios/common/panels.css')
    link(rel='stylesheet', href='/stylesheets/nginios/main.css')

    script(type='text/javascript', src='/javascripts/vendor/jquery-2.0.3.min.js')
    script(type='text/javascript', src='/javascripts/vendor/jquery.tooltipster.min.js')
    script(type='text/javascript', src='/javascripts/nginios/main.js')

    block header

  body

    block content

    script(type='text/javascript', src='/javascripts/vendor/handlebars-v1.1.2.js')
    if( nginios.env === 'development' )  
      script(type='text/javascript', src='/javascripts/vendor/ember.js')
    else
      script(type='text/javascript', src='/javascripts/vendor/ember.min.js')
    script(type='text/javascript', src='/javascripts/vendor/ember-data.js')
    
    //script(type='text/javascript', src='/javascripts/nginios/app.js')
    //each app in getApplicationsForUser()
    //  script(type='text/javascript', src='/gears/'+app.name.toLowerCase()+'.js')

    if( handlebarTemplates )
      each hbs in handlebarTemplates
        script(type='text/x-handlebars', id=(hbs.id ? hbs.id : null), data-template-name=(hbs.id ? null : hbs.name) )!{getHbsFileContent(hbs.filename)}
    
    block footer

