doctype html
html(lang=i18n.locale())
  head
    title nginio

    link(rel='stylesheet', href='/stylesheets/nginios/reset.css')
    link(rel='stylesheet', href='/stylesheets/nginios/common.css')
    link(rel='stylesheet', href='/fonts/opensans.css')
    link(rel='stylesheet', href='/stylesheets/vendor/font-awesome.min.css')
    link(rel='stylesheet', href='/stylesheets/vendor/tooltipster.css')

    link(rel='stylesheet', href='/stylesheets/nginios/common/panels.css')
    link(rel='stylesheet', href='/stylesheets/nginios/main.css')

    script(type='text/javascript', src='/javascripts/vendor/jquery-2.0.3.min.js')
    script(type='text/javascript', src='/javascripts/vendor/jquery.tooltipster.min.js')
    script(type='text/javascript', src='/javascripts/vendor/knockout-3.0.0.js')
    script(type='text/javascript', src='/javascripts/vendor/moment.min.js')
    script(type='text/javascript', src='/javascripts/vendor/jquery.ba-hashchange.min.js')
    script(type='text/javascript', src='/javascripts/vendor/pager.min.js')
    script(type='text/javascript', src='/javascripts/vendor/i18next-1.7.1.min.js')
    script(type='text/javascript', src='/javascripts/nginios/main.js')

    block header

  body

    include common/top_panel.jade
    include common/side_panel.jade

    .main-view
      block content

    block footer

