doctype html
html(lang=i18n.locale())
  head
    title nginio

    link(rel='stylesheet', href='/css/reset.css')
    link(rel='stylesheet', href='/css/main.css')

    block header

  body

    block content

    block footer
