doctype html
html(lang=i18n.locale())
  head
    title nginios
    
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge, chrome=1')

    meta(name='viewport', content='width=device-width, initial-scale=1.0')

    link(rel='apple-touch-startup-image', href='/images/ios-startup-images-landscape.png', media='(orientation:landscape)')
    link(rel='apple-touch-startup-image', href='/images/ios-startup-images-portrait.png', media='(orientation:portrait)')

    link(rel='apple-touch-icon', href='/images/icon.png')

    link(rel='stylesheet', href='/stylesheets/nginios/reset.css')
    link(rel='stylesheet', href='/stylesheets/nginios/common.css')
    link(rel='stylesheet', href='/fonts/opensans.css')
    link(rel='stylesheet', href='/stylesheets/vendor/font-awesome.min.css')
    link(rel='stylesheet', href='/stylesheets/vendor/tooltipster.css')

    link(rel='stylesheet', href='/stylesheets/nginios/common/panels.css')
    link(rel='stylesheet', href='/stylesheets/nginios/sections.css')
    link(rel='stylesheet', href='/stylesheets/nginios/form.css')
    link(rel='stylesheet', href='/stylesheets/nginios/addons/table.css')
    link(rel='stylesheet', href='/stylesheets/nginios/addons/message.css')
    link(rel='stylesheet', href='/stylesheets/nginios/addons/loader.css')
    link(rel='stylesheet', href='/stylesheets/nginios/main.css')

    script(type='text/javascript').
      if (navigator.userAgent.match(/IEMobile\/10\.0/)) {
          var msViewportStyle = document.createElement("style");
          var mq = "@@-ms-viewport{width:auto!important}";
          msViewportStyle.appendChild(document.createTextNode(mq));
          document.getElementsByTagName("head")[0].appendChild(msViewportStyle);
      }
      var CSRF = '!{csrf}';
      var currentUser = JSON.parse('!{JSON.stringify(currentUser.toJSON())}');

  body

    include common/top_panel.jade
    include common/side_panel.jade

    #applicationHost.main-view
      block content
        #splash
          .text=t('init_application')
          .loader
            .circle
            .circle
            .circle
            .circle
            .circle

    script(src='/socket.io/socket.io.js', type='text/javascript')

    block footer

