doctype html
html(lang=i18n.locale())
  head
    title camin.io

    link(rel='stylesheet', href='/fonts/opensans.css')
    link(rel='stylesheet', href='/stylesheets/caminio/reset.css')
    link(rel='stylesheet', href='/stylesheets/caminio/common.css')
    link(rel='stylesheet', href='/stylesheets/vendor/font-awesome.min.css')
    link(rel='stylesheet', href='/stylesheets/vendor/tooltipster.css')
    link(rel='stylesheet', href='/stylesheets/caminio/unauth.css')

    script(type='text/javascript', src='/javascripts/vendor/jquery/jquery.js')
    //script(type='text/javascript', src='/javascripts/vendor/jquery.tooltipster.min.js')

    block header

  body

    #main-box.unauth-box
      if( messages.count > 0 )
        .message(class=(messages.error ? 'error' : ''))
          =t(messages.error || messages.info)
      img.caminio-logo(src='/images/logo.png')
      .unauth-content-block
        block content

      .copyright 
        a(target='_blank', href='http://camin.io') camin.io 
        |by 
        a(target='_blank', href='http://tastenwerk.com') TASTENWERK 
        |&copy; 2014
    
    block next_content
