doctype html
html(lang=i18n.locale())
  head
    title nginio

    link(rel='stylesheet', href='/css/reset.css')
    link(rel='stylesheet', href='/css/common.css')
    link(rel='stylesheet', href='/fonts/opensans.css')
    link(rel='stylesheet', href='/css/vendor/font-awesome.min.css')
    link(rel='stylesheet', href='/css/vendor/jquery.qtip.min.css')
    link(rel='stylesheet', href='/css/unauth.css')

    script(type='text/javascript', src='/js/vendor/jquery-2.0.3.min.js')
    script(type='text/javascript', src='/js/vendor/jquery.qtip.min.js')
    script(type='text/javascript', src='/js/nginios/main.js')

    block header

  body

    #main-box.unauth-box
      if( messages.count > 0 )
        .message(class=(messages.error ? 'error' : ''))
          =t(messages.error || messages.info)
      img.nginios-logo(src='/img/logo.png')
      .unauth-content-block
        block content

      .copyright 
        a(target='_blank', href='http://nginios.com') nginios 
        |by 
        a(target='_blank', href='http://tastenwerk.com') TASTENWERK 
        |&copy; 2014
    
    block next_content
