{{#if isAuthenticated}}
  <div class="top-pane">
    <a href="#" class="logo pull-left">
      <img src="/favicon.png" class="logo-img">
      <img class="logo-text" src="/assets/caminio-text_140x37.png">
    </a>
    <div class="close pull-right">&times;</div>
  </div>
  <div class="menu-pane">
    <a href="#">Allgemein</a>
    <a href="#">Privatsphaere</a>
    <a href="#">Benachrichtigungen</a>
  </div>
  <div class="main-wrap">
    {{outlet}}
  </div>
{{else}}
  {{outlet}}
{{/if}}
