{{#caminio-modal title='unsaved_content' close='confirmTransition'}}
<div class="modal-body">
  <p>{{t 'unsaved_content_desc'}}</p>
</div>
<div class="modal-footer">
  <button class="btn btn-default" data-dismiss="modal">{{t 'cancel'}}</button>
  <button class="btn btn-default" {{action 'confirmTransition' true}} data-dismiss="modal">{{t 'proceed_and_dismiss'}}</button>
</div>
{{/caminio-modal}}
