<section class="card settings">
  <h1>Persoenliche Daten</h1>
  <form class="click-form">
    <div class="click-form-group">
      <label>{{t 'alias'}}</label>
      {{input valueBinding='username'}}
    </div>
    <div class="click-form-group">
      <label>Alias</label>
      {{input valueBinding='username'}}
    </div>
  </form>
</section>
