/*
 *= require opensans
 *= require 3rd/font-awesome
 *= require pace.css
 *= require toastr
 *= require toastr_theme
 *= require bootstrap/dist/css/bootstrap
 *= require seiyria-bootstrap-slider/dist/css/bootstrap-slider.min
 *= require ember-table
 *= require ember-table_theme
 *= require selectize_theme
 *= require bootstrap_theme
 *= require authorization
 *= require_tree ./caminio
 */
body, html{
  height: 100%;
  font-family: 'Open Sans', sans-serif;
  background: #f0f0f0;
}

body > .ember-view{
  position: relative;
  height: 100%;
}

.outlet-wrap{
  padding-bottom: 30px;
}

.outlet-content-wrap{
  padding-top: 70px;
}

.overflow-auto{
  overflow-y: auto;
}

.align-right{
  text-align: right;
}

.align-center{
  text-align: center;
}

.fill-height{
  height: 100%;
}

.fill-width{
  width: 100%;
}

.default-margin-top{
  margin-top: 20px;
}

.default-margin-bottom{
  margin-bottom: 20px;
}

.checkbox-box{
  border: 1px solid #aaa;
  width: 16px;
  height: 16px;
  float: left;
  margin: 3px 5px 0 0;
  position: relative;
  box-shadow: 0 1px 3px rgba(128, 128, 128, 0.2);
  background: #fafafa;
  cursor: pointer;
}

.checkbox-box .fa-check{
  position: absolute;
  top: 0;
  left: 1px;
}

.field-with-errors,
.field-with-errors input{
  color: #a94442;
}
.field-with-errors .checkbox-box,
.field-with-errors input{
  background: #f2dede;
  border-color: #a94442;
}
.field-with-errors input::-webkit-input-placeholder{
  color: #e98482;
}
.field-with-errors input::-moz-placeholder{
  color: #e98482;
}
.field-with-errors input:-ms-input-placeholder{
  color: #e98482;
}

.field-with-errors label{
  color: #d55;
  font-weight: 600;
}

.field-with-errors .help-block{
  color: #d55;
}

.med-container{
  width: 960px;
  margin-left: auto;
  margin-right: auto;
}

.side-panel{
  width: 200px;
  float: left;
}

.content-panel{
  margin-left: 200px;
  margin-right: 50px;
  max-width: 1200px
}

.content-panel-with-activity{
  margin-right: 350px;
}

.activity-panel{
  width: 350px;
  float: right;
}

.content-panel.content-panel-full-width{
  max-width: 100%;
}

.max-width-1200{
  max-width: 1200px;
}

.max-width-960{
  max-width: 960px;
}


.content-panel-section{
  margin: 20px 0 0 40px;
  position: relative;
}

form .row-group{
  margin-top: 20px;
}

img.avatar{
  background: #fff;
  border: 3px solid #ddd;
}

.outlet-wrap .fill-height > .ember-view{
  height: 100%;
}

.desc{
  color: #777;
}

.view-actions{
  margin-bottom: 20px;  
}

.page-ctrl{
  background: #fff;
  text-align: right;
}

.page-ctrl .btn{
  padding: 15px 20px;
}

.page-ctrl .btn-close:hover{
  background: #444;
  color: #fff;
}

.page-ctrl .title{
  float: left;
  margin: 15px 40px 14px;
  font-size: 16px;
  color: #777;
}

.btn-ctrl{
  text-align: right;
  margin-bottom: 5px;
}

.btn-ctrl .dropdown{
  margin: 2px 0 0 0;
}

.search-query-wrap{
  display: inline-block;
  position: relative;
  opacity: 0.75;
  float: left;
}

.search-query-wrap:focus,
.search-query-wrap:hover{
  opacity: 1;
}

.search-query-wrap .search-query{
  padding: 17px 5px 15px;
  width: 350px;
  box-shadow: none !important;
  border: none;
}

.search-query-wrap .search-query:focus{
  background: #fafafa;
}

.includes-adv-search .fa-gears,
.includes-adv-search .fa-search{
  color: #777;
}

.btn.search-btn:hover,
.btn.adv-search-btn:hover{
  color: #555;
  background: #eee;
}

.btn.adv-search-btn .active-filters{
  border-radius: 20px;
  background-color: #a101c1;
  font-size: 10px;
  left: -1px;
  position: absolute;
  text-align: center;
  top: -1px;
  z-index: 10;
  width: 20px;
  height: 20px;
  font-weight: 600;
  color: #fff;
  padding-top: 2px;
}

section h1,
section h2{
  font-size: 20px;
  border-bottom: 1px solid #ddd;
  padding-bottom: 5px;
  margin-bottom: 15px;
}

section h2{
  font-size: 16px;
  border-bottom: none;
}

.container{
  background: #fff;
  padding: 20px;
}

.loading-wrap{
  width: 100%;
  padding: 150px;
  text-align: center;
  background: #eee;
}

.loading-loader{
  background: url(asset-path('loader.gif'));
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 128px;
  height: 128px;
  margin: auto;
}
