/*
 *= require font-roboto
 *= require_tree ./caminio
 *= require font-awesome
 *= require hint.css/hint
 *= require bootstrap/dist/css/bootstrap.min
 *= require bootstrap_theme
 *= require authorization
 */
body, html{
  height: 100%;
  font-family: 'Roboto', sans-serif;
  background: #eee;
}

body > .ember-view{
  position: relative;
  height: 100%;
}

.main-wrap{
  height: 100%;
}

.outlet-wrap{
  height: 100%;
  padding-bottom: 30px;
}

.align-right{
  text-align: right;
}

.checkbox-box{
  border: 1px solid #aaa;
  width: 16px;
  height: 16px;
  float: left;
  margin: 3px 5px 0 0;
  position: relative;
  box-shadow: 0 1px 3px rgba(128, 128, 128, 0.2);
  background: #fafafa;
  cursor: pointer;
}

.checkbox-box .fa-check{
  position: absolute;
  top: 0;
  left: 1px;
}

.field-with-errors,
.field-with-errors input{
  color: #a94442;
}
.field-with-errors .checkbox-box,
.field-with-errors input{
  background: #f2dede;
  border-color: #a94442;
}
.field-with-errors input::-webkit-input-placeholder{
  color: #e98482;
}
.field-with-errors input::-moz-placeholder{
  color: #e98482;
}
.field-with-errors input:-ms-input-placeholder{
  color: #e98482;
}
