/*
 *= require font-roboto
 *= require_tree ./caminio
 *= require font-awesome
 *= require bootstrap.min
 *= require bootstrap_theme
 *= require authorization
 */
body, html{
  height: 100%;
  font-family: 'Roboto', sans-serif;
}

body > .ember-view{
  position: relative;
  height: 100%;
}

.outlet-wrap{
  height: 100%;
  padding-bottom: 30px;
}

.align-right{
  text-align: right;
}
