/* ------------------------------------------------------------------ */
/* ---                                                            --- */
/* ---  Web font kit of Ubuntu font family by Dalton Maag         --- */
/* ---  Ubuntu + Ubuntu Condensed -- Western Latin Subset         --- */
/* ---                                                            --- */
/* ---  REDUNDANT FONT FAMILIES:you can use <strong><b><em><i>   --- */
/* ---  Ubuntu Light +bold = Ubuntu Regular                       --- */
/* ---  Ubuntu Regular +bold = Ubuntu Medium                      --- */
/* ---  Ubuntu Medium +bold = Ubuntu Bold                         --- */
/* ---                                                            --- */
/* ---  CSS font families:                                       --- */
/* ---  ubuntu-light, ubuntu, ubuntu-medium, ubuntu-bold,         --- */
/* ---  ubuntu-condensed                                          --- */
/* ---                                                            --- */
/* ---  family names are lowercase                                --- */
/* ---  to work with CKeditor config                              --- */
/* ---                                                            --- */
/* ------------------------------------------------------------------ */


/* LIGHT */

@font-face {
  font-family:'ubuntu-light';
  src:url('Ubuntu-L-webfont.eot');
  src:local('Ubuntu Light'), local('Ubuntu-Light'), local('UbuntuLight'),
      url('Ubuntu-L-webfont.eot?#iefix') format('embedded-opentype'),
      url('Ubuntu-L-webfont.woff2') format('woff2'),
      url('Ubuntu-L-webfont.woff') format('woff'),
      url('Ubuntu-L-webfont.ttf') format('truetype');
  font-weight:normal;
  font-style:normal;
}

@font-face {
  font-family:'ubuntu-light';
  src:url('Ubuntu-LI-webfont.eot');
  src:local('Ubuntu Light Italic'), local('Ubuntu-LightItalic'), local('UbuntuLight-Italic'),
      url('Ubuntu-LI-webfont.eot?#iefix') format('embedded-opentype'),
      url('Ubuntu-LI-webfont.woff2') format('woff2'),
      url('Ubuntu-LI-webfont.woff') format('woff'),
      url('Ubuntu-LI-webfont.ttf') format('truetype');
  font-weight:normal;
  font-style:italic;
}

@font-face {
  font-family:'ubuntu-light';
  src:url('Ubuntu-R-webfont.eot');
  src:local('Ubuntu'), local('Ubuntu Regular'), 
      url('Ubuntu-R-webfont.eot?#iefix') format('embedded-opentype'),
      url('Ubuntu-R-webfont.woff2') format('woff2'),
      url('Ubuntu-R-webfont.woff') format('woff'),
      url('Ubuntu-R-webfont.ttf') format('truetype');
  font-weight:bold;
  font-style:normal;
}

@font-face {
  font-family:'ubuntu-light';
  src:url('Ubuntu-RI-webfont.eot');
  src:local('Ubuntu Italic'), local('Ubuntu-Italic'), 
      url('Ubuntu-RI-webfont.eot?#iefix') format('embedded-opentype'),
      url('Ubuntu-RI-webfont.woff2') format('woff2'),
      url('Ubuntu-RI-webfont.woff') format('woff'),
      url('Ubuntu-RI-webfont.ttf') format('truetype');
  font-weight:bold;
  font-style:italic;
}


/* REGULAR */

@font-face {
  font-family:'ubuntu';
  src:url('Ubuntu-R-webfont.eot');
  src:local('Ubuntu'), local('Ubuntu Regular'), 
      url('Ubuntu-R-webfont.eot?#iefix') format('embedded-opentype'),
      url('Ubuntu-R-webfont.woff2') format('woff2'),
      url('Ubuntu-R-webfont.woff') format('woff'),
      url('Ubuntu-R-webfont.ttf') format('truetype');
  font-weight:normal;
  font-style:normal;
}

@font-face {
  font-family:'ubuntu';
  src:url('Ubuntu-RI-webfont.eot');
  src:local('Ubuntu Italic'), local('Ubuntu-Italic'), 
      url('Ubuntu-RI-webfont.eot?#iefix') format('embedded-opentype'),
      url('Ubuntu-RI-webfont.woff2') format('woff2'),
      url('Ubuntu-RI-webfont.woff') format('woff'),
      url('Ubuntu-RI-webfont.ttf') format('truetype');
  font-weight:normal;
  font-style:italic;
}

@font-face {
  font-family:'ubuntu';
  src:url('Ubuntu-M-webfont.eot');
  src:local('Ubuntu Medium'), local('Ubuntu-Medium'), local('UbuntuMedium'),
      url('Ubuntu-M-webfont.eot?#iefix') format('embedded-opentype'),
      url('Ubuntu-M-webfont.woff2') format('woff2'),
      url('Ubuntu-M-webfont.woff') format('woff'),
      url('Ubuntu-M-webfont.ttf') format('truetype');
  font-weight:bold;
  font-style:normal;
}

@font-face {
  font-family:'ubuntu';
  src:url('Ubuntu-MI-webfont.eot');
  src:local('Ubuntu Medium Italic'), local('Ubuntu-MediumItalic'), local('UbuntuMedium-Italic'),
      url('Ubuntu-MI-webfont.eot?#iefix') format('embedded-opentype'),
      url('Ubuntu-MI-webfont.woff2') format('woff2'),
      url('Ubuntu-MI-webfont.woff') format('woff'),
      url('Ubuntu-MI-webfont.ttf') format('truetype');
  font-weight:bold;
  font-style:italic;
}


/* MEDIUM */

@font-face {
  font-family:'ubuntu-medium';
  src:url('Ubuntu-M-webfont.eot');
  src:local('Ubuntu Medium'), local('Ubuntu-Medium'), local('UbuntuMedium'),
      url('Ubuntu-M-webfont.eot?#iefix') format('embedded-opentype'),
      url('Ubuntu-M-webfont.woff2') format('woff2'),
      url('Ubuntu-M-webfont.woff') format('woff'),
      url('Ubuntu-M-webfont.ttf') format('truetype');
  font-weight:normal;
  font-style:normal;
}

@font-face {
  font-family:'ubuntu-medium';
  src:url('Ubuntu-MI-webfont.eot');
  src:local('Ubuntu Medium Italic'), local('Ubuntu-MediumItalic'), local('UbuntuMedium-Italic'),
      url('Ubuntu-MI-webfont.eot?#iefix') format('embedded-opentype'),
      url('Ubuntu-MI-webfont.woff2') format('woff2'),
      url('Ubuntu-MI-webfont.woff') format('woff'),
      url('Ubuntu-MI-webfont.ttf') format('truetype');
  font-weight:normal;
  font-style:italic;
}

@font-face {
  font-family:'ubuntu-medium';
  src:url('Ubuntu-B-webfont.eot');
  src:local('Ubuntu Bold'), local('Ubuntu-Bold'), local('UbuntuBold'),
      url('Ubuntu-B-webfont.eot?#iefix') format('embedded-opentype'),
      url('Ubuntu-B-webfont.woff2') format('woff2'),
      url('Ubuntu-B-webfont.woff') format('woff'),
      url('Ubuntu-B-webfont.ttf') format('truetype');
  font-weight:bold;
  font-style:normal;
}

@font-face {
  font-family:'ubuntu-medium';
  src:url('Ubuntu-BI-webfont.eot');
  src:local('Ubuntu Bold Italic'), local('Ubuntu-BoldItalic'), local('UbuntuBold-Italic'),
      url('Ubuntu-BI-webfont.eot?#iefix') format('embedded-opentype'),
      url('Ubuntu-BI-webfont.woff2') format('woff2'),
      url('Ubuntu-BI-webfont.woff') format('woff'),
      url('Ubuntu-BI-webfont.ttf') format('truetype');
  font-weight:bold;
  font-style:italic;
}


/* BOLD */

@font-face {
  font-family:'ubuntu-bold';
  src:url('Ubuntu-B-webfont.eot');
  src:local('Ubuntu Bold'), local('Ubuntu-Bold'), local('UbuntuBold'),
      url('Ubuntu-B-webfont.eot?#iefix') format('embedded-opentype'),
      url('Ubuntu-B-webfont.woff2') format('woff2'),
      url('Ubuntu-B-webfont.woff') format('woff'),
      url('Ubuntu-B-webfont.ttf') format('truetype');
  font-weight:normal;
  font-style:normal;
}

@font-face {
  font-family:'ubuntu-bold';
  src:url('Ubuntu-BI-webfont.eot');
  src:local('Ubuntu Bold Italic'), local('Ubuntu-BoldItalic'), local('UbuntuBold-Italic'),
      url('Ubuntu-BI-webfont.eot?#iefix') format('embedded-opentype'),
      url('Ubuntu-BI-webfont.woff2') format('woff2'),
      url('Ubuntu-BI-webfont.woff') format('woff'),
      url('Ubuntu-BI-webfont.ttf') format('truetype');
  font-weight:normal;
  font-style:italic;
}

/* CONDENSED */

@font-face {
  font-family:'ubuntu-condensed';
  src:url('Ubuntu-C-webfont.eot');
  src:local('Ubuntu Condensed'), local('Ubuntu-Condensed'), local('UbuntuCondensed'),
      url('Ubuntu-C-webfont.eot?#iefix') format('embedded-opentype'),
      url('Ubuntu-C-webfont.woff2') format('woff2'),
      url('Ubuntu-C-webfont.woff') format('woff'),
      url('Ubuntu-C-webfont.ttf') format('truetype');
  font-weight:normal;
  font-style:normal;
}

@font-face {
  font-family: 'Audiowide';
  font-style: normal;
  font-weight: 400;
  src: local('Audiowide'), local('Audiowide-Regular'), url('/fonts/audiowide.ttf') format('truetype');
}