/* nginios main styles */

html,body{ 
  height: 100%; 
}
html{ 
  font-family: 'OpenSans', 'Open Sans', sans-serif;
}
body{
  background: #f5f5f5;
}
.main-view{ 
  margin-left: 230px;
  margin-top: 13px;
  heigth: 100%;
  position: relative;
}
