.navbar{}
.navbar li{
  float: left;
  margin: 5px 20px;
}
.navbar li a{
  color: #333;
  text-decoration: none;
  padding: 5px 15px;
  font-size: 14px;
}
.navbar li.active a{
  font-weight: 600;
  background: #ddd;
}

.main-view section{
  position: absolute;
  top: 60px;
  left: 10px;
  right: 10px;
  bottom: 10px;
}
