.navbar{}
.navbar li{
  float: left;
  margin: 5px 20px;
}
.navbar li a{
  color: #333;
  text-decoration: none;
  padding: 5px 15px;
  font-size: 14px;
}
.navbar li.active a{
  font-weight: 600;
  background: #ddd;
}

.main-view section{
  position: absolute;
  top: 40px;
  left: 10px;
  right: 10px;
  bottom: 10px;
}

.main-ctrl{
  margin-bottom: 20px;
}

.main-view section .title{
  font-size: 24px;
  color: #aaa;
  margin: 10px 0;
  font-weight: 600;
}
.main-view section h1{
  margin: 40px 20px;
  font-size: 32px;
  color: #aaa;
  font-weight: 600;
}
.main-view section header.with-ctrl .main-ctrl{
  margin-top: 8px;
}
.main-view section header.with-ctrl h1{
  margin-top: 20px;
}